@charset "utf-8";

@font-face {
    font-family: 'Myriad Pro';
    src: local(Myriad Pro) format(otf);
    src: url('fonts/MyriadPro/MYRIADPRO-REGULAR.OTF');
    font-style: normal;
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* ******************************* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Myriad Pro, sans-serif;
}

/* ******************************** */

.header {
    margin-bottom: 6.8rem;
    height: 100vh;
    background-image: url(./../img/header/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__inner {
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header__top {
    height: 5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 90px;
}

.header__nav {
    min-width: 650px;
}

.header__nav-list {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__nav-item {
    list-style: none;
}

.header__nav-link {
    padding: 1em 1em;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header__nav-link--hover {
    border-bottom: 3px solid #f6c588;
    color: #f6c588;
    transition: .3s;
}

.header__btn-img {
    position: relative;
}

.header__content {
    margin: 0 auto;
    max-width: 650px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
    text-align: center;
    color: #fff;
}

.header__content-title {
    margin: 0;
    font-size: 4.5rem;
}

.header__content-description {
    text-transform: uppercase;
    font-size: 9rem;
}

.header__content-outline {
    margin: 0 auto;
    border-top: 3px solid #fff;
    width: 60px;
}

.header__content-btn {
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: .5em 1.5em;
    font-size: 0.9rem;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
}

.header__bottom {
    max-width: inherit;
}

.header__bottom-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    list-style: none;
}

.header__bottom-item {
    width: 280px;
    padding: 1em 0;
    border-top: 3px solid #fff;
    text-align: left;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #fff;
}

/* ************************************* */

.story {
    margin-bottom: 6.8rem;
    background-color: #fff;
    color: #000;
}

.story__inner {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 50px;
}

/* ******************** */
.section-head {
    display: flex;
    flex-flow: column nowrap;
}

.section-head__description {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Kaushan Script', sans-serif;
    font-style: italic;
}

.section-head__title {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 2rem;
}

.section-head__outline {
    margin: 2.5rem auto 50px;
    border-top: 3px solid #f38181;
    width: 60px;
}

.section-head__text {
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.5rem;
    text-align: justify;
    text-align-last: center;
    font-size: 1rem;
    color: #999;
}

/* ************************* */

.content-with-img__pictures {
    width: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.content-with-img__background {
    position: relative;
    width: 380px;
    height: 250px;
    background-color: #95e1d3;
}

.content-with-img--height {
    height: 475px;
}

.content-with-img__link-team {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/story/image1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.content-with-img__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.content-with-img__link::before {
    display: block;
    width: 30px;
    margin: 0 auto 10px;
    content: url(/img/story/icon1.png);
}

.content-with-img__links-to-messendger {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(/img/section-team/item1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-with-img__links-to-messendger > a {
    width: 50px;
    height: 50px;
    background-color: #f38181;
    border: 1px solid rgba(255, 255, 255, .8);
}

.content-with-img__links-to-messendger > a:hover {
    background-color: #fce38a;
}

.content-with-img__links-to-messendger img {
    display: block;
    width: 22px;
    height: 20px;
    margin: 15px auto;
}

.content-with-img__link-facebook > img {
    width: 15px;
}

.content-with-img__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    transition: all .3s linear;
}

.content-with-img__name-person {
    position: absolute;
    bottom: -40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5rem;
}

.content-with-img__speciality {
    position: absolute;
    bottom: -70px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    color: #acacac;
}

.content-with-img__item:hover {
    transition: transform .3s linear;
    transform: translate(-10px, -10px);
}

/* **************************** */

.statistics {
    margin-bottom: 6.8rem;
    background-color: #95e1d3;
    color: #fff;
}

.statistics__inner {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
}

.statistics__item {
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-left: 1px solid #fff;
    border-top: transparent;
    border-bottom: transparent;
}

.statistics__item:last-of-type {
    border-right: 1px solid #fff;
}

.statistics__num {
    font-size: 4.5rem;
    font-family: 'Montserrat', sans-serif;
}

.statistics__text {
    text-transform: uppercase;
    font-size: 0.9rem;
}

/* ********************************** */

.services {
    margin: 110px 0;
}

.services__inner {
    max-width: 1200px;
    margin: 0 auto;
}

.services__content {
    display: grid;
    grid-template-areas: "item1 item2 item3"
        "outline outline outline"
        "item5 item6 item7";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0 1fr;
    grid-auto-flow: column;
    row-gap: 50px;
}

.services__item1 {
    grid-area: item1;
}

.services__item2 {
    grid-area: item2;
}

.services__item3 {
    grid-area: item3;
}

.services__item4 {
    grid-area: outline;
    border-top: 1px solid #999;
}

.services__item5 {
    grid-area: item5;
}

.services__item6 {
    grid-area: item6;
}

.services__item7 {
    grid-area: item7;
}

.services__content-item {
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    padding: 0 30px;
}

.services__picture {
    align-self: top;
}

.services__img {
    width: 34px;
    height: 34px;
}

.services__main {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.services__title {
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
}

.services__text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #999;
}

/* **************************** */

.feauture {
    margin: 110px auto;
    height: 100vh;
    position: relative;
    background-color: #fff;
    background-image: url(/img/feauture/back-image2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feauture__inner {
    margin: 100px auto 0;
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;
}

.feauture-img1 {
    position: absolute;
    bottom: 0;
    left: 35vw;
}

.feauture-img2 {
    position: absolute;
    width: 200px;
    left: 60vw;
    bottom: -8%;
}

/* *************************** */

.service {
    margin: 110px 0;
    background-color: #fff;
}

.service__inner {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    gap: 90px;
}

.service__text {
    margin: 0 auto;
    max-width: 966px;
    font-size: 0.9rem;
    text-align: center;
    color: #999;
}

.service__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.service__picture {
    max-height: 380px;
}

/* .service__img {} */

/* ********************* */

.quote {
    margin: 110px 0;
    background-color: #f8f8f8;
}

.quote--background {
    background-color: #fff;
}

.quote__inner {
    margin: 70px 60px;
}

/* ********************* */

.team {
    margin: 110px auto 140px;
    max-width: 1200px;
}

.team__inner {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

/* ********************* */

.logos {
    margin: 110px 0;
    background-color: #f8f8f8;
}

.logos__inner {
    margin: 0 auto;
    max-width: 1200px;
    height: 250px;

    background-image: url(/img/logos/logos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logos__background {
    padding: 60px 0;
}

/* ************************* */

.work {
    margin: 110px 0;
    /* overflow-x: hidden; */
}

.work__inner {
    margin-bottom: 100px;
}

.work__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 0;
}

.work-image__item--double-height {
    grid-row: span 2;
}

.work-image__item--link-to-more {
    background-image: url(/img/section-work/item6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-image__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.work-image__title {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.work-image__title::before {
    content: "";
    display: block;
    margin: 0 auto 20px;
    background-image: url(/img/section-work/item6-icon.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.work-image__title::after {
    content: "Lorem ipsum dolor sit";
    margin: 20px 0 0;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    line-height: 1.5rem;
    font-style: italic;
    color: #f8f8f8;
}

/* *********************************** */

.reviews {
    margin: 110px 0;
    height: 800px;
    background-image: url(/img/reviews/background-review.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reviews__inner {
    height: inherit;
    margin: 110px auto;
    padding: 110px 0 0;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.reviews__content {
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

.reviews-item {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
}

.rewies-item__picture {
    border-radius: 50%;
}

.reviews-item__img {
    width: 6rem;
    height: 6rem;
}

.rewies-item__main {
    max-width: 380px;
}

.reviews-item__author {
    margin-bottom: 15px;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #333;
}

.reviews-item__position {
    margin-bottom: 15px;
    font-size: 0.8rem;
    font-style: italic;
    color: #646464;
}

.reviews-item__outline {
    margin-bottom: 25px;
    width: 60px;
    border-top: 3px solid #f38181;
}

.reviews-item__text {
    color: #b0b0b0;
}

/* *********************************** */

.blog {
    margin: 110px 0;

}

.blog__inner {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
}

.blog__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
}

.blog__article {
    max-width: 400px;
}

/* .article__picture {} */

.article__img {
    max-width: 380px;
    max-height: 240px;
}

.article__title {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #4d4d4d;
}

.article__text {
    max-width: 350px;
    color: #999;
}

.article__finish-values {
    padding-top: 10px;
    border-top: 1px solid #999;
    font-size: 0.9rem;
}

.article__count-watch {
    display: inline-block;
    margin-right: 1rem;
}

.article__count-watch::before {
    content: url(/img/blog/blog-message-icon.png);
    margin-right: .5rem;
    vertical-align: baseline;
}

.raticle__count-message {
    display: inline-block;
}

.raticle__count-message::before {
    content: url(/img/blog/blog-view-icon.png);
    margin-right: .5rem;
    vertical-align: baseline;
}

/* ******************************** */

.map {
    margin: 100px 0 0;
    position: relative;
    width: 100%;
    height: 300px;
}

.map__img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: inherit;
    width: inherit;
}

.map__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 140px;
    max-height: 80px;
    margin: calc((300px - 80px) / 2) auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* .map__top-icon {} */

.map__text {
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #f38181;
}

.map__outline {
    width: 60px;
    border-top: 3px solid #f38181;
}

/* ******************************** */

.footer {
    margin-top: 75px;
    background-color: #f8f8f8;
}

.footer__inner {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 70px;
    border: 1px solid #000;
}

.footer__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer-main {
    max-width: 400px;
}

.footer__logo {
    margin-bottom: 40px;
    font-family: sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #acacac;
}

.footer__text {
    margin-bottom: 50px;
    font-size: .9rem;
    color: #a5a5a5;
}

.footer-follow {
    margin-bottom: 20px;
}

.footer-follow__count {
    border-bottom: 1px solid #a5a5a5;
}

.footer-follow__text {
    font-family: sans-serif;
    font-style: italic;
    color: #a5a5a5;
}

icons .footer-main__form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
}

.form__text {}

.form__btn {}


.footer-blogs {
    max-width: 300px;

}

.footer-blogs__title {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.footer-blogs__item {}

.footer-blogs__item:not(:last-child) {
    margin-bottom: 30px;
}

.footer-blogs__picture {
    float: left;
    width: 125px;
    height: 80px;
}

.footer-blogs__text {
    padding: 1rem;
    font-size: .9rem;
    text-align: justify;
    color: #333;
}

.footer-blogs__time {
    font-size: .9rem;
    font-style: italic;
    color: #a5a5a5;
}

.footer-inst {
    max-width: 300px;
}

.footer__bottom {
    margin: 0 auto;
    display: inline-block;
    border-top: 1px solid #e5e5e5;
}

.footer__sign {
    /* text-align: center; */
    font-size: 1.5rem;
}